* {
  padding: 0;
  margin: 0;
}

img {
  margin: 10px;
}
div .col-md-4 {
  border-radius: 10px;
}

.dropdown-menu > li > a {
  font-weight: bold;
}

.dropdown-menu > li > a:hover {
  background-image: none;
  background-color: #8b6c60;
  color: black;
}
.carousel-inner img {
  object-fit: cover;
  margin: auto;
}

.btn-warning {
  margin-bottom: 50px;
}

@media only screen and (max-width: 1140px) {
  .carousel-inner img {
    height: 500px;
  }

  .nav-link {
    max-width: 100%;
    display: flexbox;
    position: relative;
    z-index: 10;
    text-align: right;
    background: #8b6c60;
  }

  ul.dropdown-menu.show {
    position: relative;
    z-index: 10 !important;
    margin: 0;
    text-align: right;
    border-color: #8b6c60;
    border-radius: 0px;
  }

  ul.dropdown-menu.show a {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
  }
  ul.dropdown-menu.show a:hover {
    background-color: #8b6c60;
  }
  .navbar-nav .nav-link.active {
    padding: 10px;
  }
  .btn-warning {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 576px) {
  .carousel-inner img {
    height: 300px;
    background-size: cover;
    object-fit: cover;
  }

  #google_map {
    width: 450px;
  }
}

.buyit:hover {
  background: #06d85f;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85f;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

[href] {
  color: black;
  text-decoration: none;
}

/*shop page*/
.nav-tabs .nav-link {
  z-index: 0;
}

.img-fluid {
  width: 30rem;
  height: 30rem;
  object-fit: cover !important;
}
